{{> header}}

<h1>{{i18n.day}} {{day.number}} - {{day.title}}</h1>

<a href="{{adventOfCodeBaseUrl}}/2018/day/{{day.number}}" target="_blank">
    {{i18n.linkToPuzzleDescriptionText}} {{adventOfCodeBaseUrl}}/2018/day/{{day.number}}
</a>

{{> footer}}
